html,

body {
    background-color: #a69c94;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#MainDiv {
    background-color: #a69c94;
    height: 100%;
    width: 100%;
    display: table;
    justify-content: center;
    text-align: center;
}


h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 350%;
    display: inline;
    float: none;
    margin-left: 24%;
}

img {
    max-width: 480px;
    max-width: 460px;
}


footer {
    position: fixed;
    left: 0;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #40372f;
    text-align: center;
}



#iconFoot, #iconFoot2 {
    font-size: 40px;
    padding-left: 90px;
    padding-right: 90px;
    color: white;
    padding-top: 6px;
}


#iconSpotify {
    font-size: 40px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 6px;
    color: green;
}


@media (max-width:1000px) {

    #iconFoot, #iconFoot2, #iconSpotify {
        display: inline-block;
        width: 32%;
        padding: 0;
        margin-top: 5px;
    }

}
